In [3378]:
import pandas as pd
import numpy as np

In [3379]:
cars = pd.read_csv('./quikr_car.csv')

In [3380]:
cars.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [3381]:
cars.shape

(892, 6)

In [3382]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

## Quality

- year has many non-year values
- year object to int
- price has "Ask for Price" we have to remove that
- Price object to int and remove commas
- kms_driven has kms at end
- kms_driven object to int
- kms_driven has nan values
- fuel_type has nan values
- keep first 3 words of name

In [3383]:
cars['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [3384]:
cars['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [3385]:
cars['kms_driven'].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [3386]:
cars['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

# Cleaning

In [3387]:
backup = cars.copy()

In [3388]:
cars['year'].str.isnumeric()

0       True
1       True
2       True
3       True
4       True
       ...
887    False
888     True
889     True
890     True
891     True
Name: year, Length: 892, dtype: bool

In [3389]:
cars = cars[cars['year'].str.isnumeric()]

In [3390]:
cars['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '2003', '2004', '1995', '2002', '2001'], dtype=object)

In [3391]:
cars['year'] = cars['year'].astype(int)

In [3392]:
cars['year'].unique()

array([2007, 2006, 2018, 2014, 2015, 2012, 2013, 2016, 2010, 2017, 2008,
       2011, 2019, 2009, 2005, 2000, 2003, 2004, 1995, 2002, 2001])

In [3393]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

In [3394]:
cars = cars[cars['Price'] != "Ask For Price"]

In [3395]:
cars['Price'].unique()

array(['80,000', '4,25,000', '3,25,000', '5,75,000', '1,75,000',
       '1,90,000', '8,30,000', '2,50,000', '1,82,000', '3,15,000',
       '4,15,000', '3,20,000', '10,00,000', '5,00,000', '3,50,000',
       '1,60,000', '3,10,000', '75,000', '1,00,000', '2,90,000', '95,000',
       '1,80,000', '3,85,000', '1,05,000', '6,50,000', '6,89,999',
       '4,48,000', '5,49,000', '5,01,000', '4,89,999', '2,80,000',
       '3,49,999', '2,84,999', '3,45,000', '4,99,999', '2,35,000',
       '2,49,999', '14,75,000', '3,95,000', '2,20,000', '1,70,000',
       '85,000', '2,00,000', '5,70,000', '1,10,000', '4,48,999',
       '18,91,111', '1,59,500', '3,44,999', '4,49,999', '8,65,000',
       '6,99,000', '3,75,000', '2,24,999', '12,00,000', '1,95,000',
       '3,51,000', '2,40,000', '90,000', '1,55,000', '6,00,000',
       '1,89,500', '2,10,000', '3,90,000', '1,35,000', '16,00,000',
       '7,01,000', '2,65,000', '5,25,000', '3,72,000', '6,35,000',
       '5,50,000', '4,85,000', '3,29,500', '2,51,111', '5,69,999',
       '69,999', '2,99,999', '3,99,999', '4,50,000', '2,70,000',
       '1,58,400', '1,79,000', '1,25,000', '2,99,000', '1,50,000',
       '2,75,000', '2,85,000', '3,40,000', '70,000', '2,89,999',
       '8,49,999', '7,49,999', '2,74,999', '9,84,999', '5,99,999',
       '2,44,999', '4,74,999', '2,45,000', '1,69,500', '3,70,000',
       '1,68,000', '1,45,000', '98,500', '2,09,000', '1,85,000',
       '9,00,000', '6,99,999', '1,99,999', '5,44,999', '1,99,000',
       '5,40,000', '49,000', '7,00,000', '55,000', '8,95,000', '3,55,000',
       '5,65,000', '3,65,000', '40,000', '4,00,000', '3,30,000',
       '5,80,000', '3,79,000', '2,19,000', '5,19,000', '7,30,000',
       '20,00,000', '21,00,000', '14,00,000', '3,11,000', '8,55,000',
       '5,35,000', '1,78,000', '3,00,000', '2,55,000', '5,49,999',
       '3,80,000', '57,000', '4,10,000', '2,25,000', '1,20,000', '59,000',
       '5,99,000', '6,75,000', '72,500', '6,10,000', '2,30,000',
       '5,20,000', '5,24,999', '4,24,999', '6,44,999', '5,84,999',
       '7,99,999', '4,44,999', '6,49,999', '9,44,999', '5,74,999',
       '3,74,999', '1,30,000', '4,01,000', '13,50,000', '1,74,999',
       '2,39,999', '99,999', '3,24,999', '10,74,999', '11,30,000',
       '1,49,000', '7,70,000', '30,000', '3,35,000', '3,99,000', '65,000',
       '1,69,999', '1,65,000', '5,60,000', '9,50,000', '7,15,000',
       '45,000', '9,40,000', '1,55,555', '15,00,000', '4,95,000',
       '8,00,000', '12,99,000', '5,30,000', '14,99,000', '32,000',
       '4,05,000', '7,60,000', '7,50,000', '4,19,000', '1,40,000',
       '15,40,000', '1,23,000', '4,98,000', '4,80,000', '4,88,000',
       '15,25,000', '5,48,900', '7,25,000', '99,000', '52,000',
       '28,00,000', '4,99,000', '3,81,000', '2,78,000', '6,90,000',
       '2,60,000', '90,001', '1,15,000', '15,99,000', '1,59,000',
       '51,999', '2,15,000', '35,000', '11,50,000', '2,69,000', '60,000',
       '4,30,000', '85,00,003', '4,01,919', '4,90,000', '4,24,000',
       '2,05,000', '5,49,900', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [3396]:
# replace ',' by ''
cars['Price'] = cars['Price'].str.replace(',','').astype(int)

In [3397]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [3398]:
cars['kms_driven'] = cars['kms_driven'].str.split(" ").str.get(0).str.replace(',','')

In [3399]:
cars['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
886    132000
888     27000
889     40000
890    Petrol
891    Petrol
Name: kms_driven, Length: 819, dtype: object

In [3400]:
cars[cars['kms_driven'].str.isnumeric()]

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [3401]:
cars = cars[cars['kms_driven'].str.isnumeric()]

In [3402]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.7+ KB

In [3403]:
cars['kms_driven'] = cars['kms_driven'].astype(int)

In [3404]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [3405]:
cars[cars['fuel_type'].isna()]

               name company  year   Price  kms_driven fuel_type
132  Toyota Corolla  Toyota  2009  275000       26000       NaN

In [3406]:
cars = cars[~cars['fuel_type'].isna()]

In [3407]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.6+ KB

In [3408]:
cars['name'].str.split(' ').str.slice(0,3).str.join(' ')

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [3409]:
cars['name'] = cars['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [3410]:
cars.head()

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6               Ford Figo      Ford  2012  175000       41000    Diesel

In [3411]:
cars = cars.reset_index(drop=True) # this resets the indexes and drops the previous index

In [3412]:
cars.head()

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4               Ford Figo      Ford  2012  175000       41000    Diesel

In [3413]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 38.4+ KB

In [3414]:
cars.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [3415]:
cars[cars['Price'] >= 6e6] # this is an outlier since there is only 1 car with price above 60 L

                   name   company  year    Price  kms_driven fuel_type
534  Mahindra XUV500 W6  Mahindra  2014  8500003       45000    Diesel

In [3416]:
cars = cars[cars['Price'] < 6e6].reset_index(drop=True)

In [3417]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        815 non-null    object
 1   company     815 non-null    object
 2   year        815 non-null    int64
 3   Price       815 non-null    int64
 4   kms_driven  815 non-null    int64
 5   fuel_type   815 non-null    object
dtypes: int64(3), object(3)
memory usage: 38.3+ KB

In [3418]:
cars

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [3419]:
cars.to_csv('cleaned_car.csv')

# Model

In [3420]:
X = cars.drop(columns='Price')
y = cars['Price']

In [3421]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [3422]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int64

In [3423]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [3424]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [3425]:
ohe = OneHotEncoder()
ohe.fit(X[['name', 'company', 'fuel_type']])

OneHotEncoder()

In [3426]:
column_trans = make_column_transformer(
    (OneHotEncoder(categories=ohe.categories_), ['name', 'company', 'fuel_type']), remainder='passthrough')

In [3427]:
lr = LinearRegression()

In [3428]:
pipe = make_pipeline(column_trans, lr)

In [3429]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [3430]:
y_pred = pipe.predict(X_test)

In [3431]:
y_pred

array([ 616006.0208069 , 1891881.54227973,  323165.50305171,
        411192.11272852,  500653.14051965,  433485.54181147,
        317112.81269553,  309824.97666365,  523381.82415594,
         32963.47803135,  280177.1765397 ,  343490.31690179,
        594440.91094285,  653411.477347  , 1892052.59263279,
        257183.81474534,  517302.6883368 ,  513556.38648646,
        144574.59512866,  556329.6462618 ,  371675.03868044,
        365437.56282301,  159372.07603921,  489067.82903271,
        491046.64555633, 1365909.8978918 ,  278590.42118864,
        352464.35982676,  268131.03734141,  179899.23518607,
        471776.55492339,  288783.66048487,  296268.55750801,
        280627.39720542,  272584.45799986,  305140.20880263,
        493835.97305126,  368420.41775528,  441936.9617398 ,
        156720.01702912,  586633.34482326,  268541.48378663,
        113330.83489959,  381276.15142862,  600760.94773328,
       1506269.67304157,   72250.17542536,  242688.09041108,
        279799.01375121,  120764.88902018,  301903.19161905,
        130908.86453658,  355011.36562   ,  385555.43624932,
        523186.82048218,  572808.76990107,  704378.14016873,
        271949.20864414,  200049.50637577,  699032.46947944,
        342090.86168955,  433485.54181147,  431459.95423751,
       1509690.68010284,   86127.90041122,  486166.44271225,
        355509.64645899,  760419.06929836,  601348.06495999,
        117273.47302657,  324219.8113422 ,  182305.27551739,
        332933.28289847,  546950.79297891,  381474.2397903 ,
        174735.14499408, 1892052.59263279,   93052.7267063 ,
        111425.88530887,  347100.8788617 ,  371532.25343639,
        143237.89997773,  232962.41128806,  359867.58767646,
        327400.70893063,  214575.29956993,  249796.51310647,
        356072.15565997,  351966.94718644,  372113.95402452,
        578324.20632541,  109405.15678564,  313013.59625195,
        406683.56752247,  283515.01562947,  407009.72643538,
        470329.93342636,  509219.9773566 ,   -2071.3481615 ,
        627069.00862482,   31271.07321978,  329581.55547774,
        261813.93661658,   27353.31465797,  517302.6883368 ,
        268541.48378663,  230688.50739582,  206324.0679161 ,
        246289.62533685,  116247.17090819,  254222.90533514,
        204006.27204055,  181180.90474289,  856843.87403958,
        198396.26923041,  644884.1253166 ,  619350.54240628,
        139474.79221033,  215695.18624166,  565096.60226919,
        282992.38705885,  233289.79850401,  208338.32118759,
        455565.66073228,  499309.5843493 ,  272194.59482911,
        308285.52348608,  361775.26399002,  302693.97509547,
        510835.554514  ,  301256.94842986,  332933.28289847,
        282356.05375231,   53124.32921985,  229393.5587858 ,
        708826.92016288,  184438.89837303,  218081.00538366,
        523874.83178222,  263634.23016622,  491722.65129694,
        337316.56239828,  286756.75310327,  237052.90627141,
        246063.12506321,  573572.63446046,  241888.67616509,
        484621.85430228, 1652515.10691281,  341095.6119589 ,
        676637.74261615,  504088.46676469,  302783.03180732,
        308276.04597465,  234604.73252485,  943863.75296937,
        462012.46219178,  229600.99926371,  354825.17323934,
        270173.08809051,  286756.75310327,  499254.81074928,
        698317.23656709])

In [3432]:
r2_score(y_test, y_pred)

0.61419363376785

In [3433]:
scores = []
# for i in range(1000):
for i in range(0):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans, lr)
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)
    scores.append(r2_score(y_test, y_pred))

In [3434]:
# np.argmax(scores) # 661

In [3435]:
# scores[np.argmax(scores)] # 0.8897678479663496

In [3436]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=661)
lr = LinearRegression()
pipe = make_pipeline(column_trans, lr)
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
r2_score(y_test, y_pred)

0.8897678479663496

In [3437]:
import pickle

In [3438]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [3439]:
pipe.predict(pd.DataFrame([["Maruti Suzuki Swift", "Maruti", 1996, "Petrol",100]], columns=['name', 'company', 'year', 'fuel_type','kms_driven']))

array([-29647.74890538])

In [3440]:
def get_companies():
    return list(set(cars['company']))

def get_models():
    return list(set(cars['name']))

def get_models_for_company(company: str):
    return list(set(cars[cars['company'] == company]['name']))

def get_fuel_types():
    return list(set(cars['fuel_type']))

def get_fuel_types_for_model(model: str):
    return list(set(cars[cars['name'] == model]['fuel_type']))

In [3441]:
print(get_companies())
print(get_models())
print(get_models_for_company(company='Toyota'))
print(get_fuel_types())

['Jaguar', 'Toyota', 'Chevrolet', 'Jeep', 'Volvo', 'Mini', 'Mahindra', 'Skoda', 'Hyundai', 'Mercedes', 'BMW', 'Maruti', 'Ford', 'Datsun', 'Tata', 'Volkswagen', 'Force', 'Land', 'Fiat', 'Honda', 'Audi', 'Hindustan', 'Nissan', 'Renault', 'Mitsubishi']
['Tata Indigo Marina', 'Hyundai Elantra 1.8', 'Toyota Qualis', 'Hyundai Getz Prime', 'Tata Indigo LS', 'BMW X1 sDrive20d', 'Hyundai Getz GLE', 'Hyundai Santro AE', 'Maruti Suzuki Eeco', 'Audi A4 2.0', 'Ford Endeavor 4x4', 'Tata Indigo eCS', 'Mitsubishi Lancer 1.8', 'Nissan Terrano XL', 'Tata Tiago Revotorq', 'Tata Zest Quadrajet', 'Mahindra Quanto C8', 'Mahindra Xylo E4', 'Nissan Micra XL', 'Skoda Yeti Ambition', 'Chevrolet Beat', 'Hyundai Xcent Base', 'Maruti Suzuki Baleno', 'Ford Fiesta', 'Hyundai Fluidic Verna', 'Land Rover Freelander', 'Renault Kwid RXT', 'Renault Kwid 1.0', 'Hyundai Accent', 'Tata Manza ELAN', 'Hyundai Eon Magna', 'Renault Duster RxL', 'Audi A6 2.0', 'Audi A3 Cabriolet', 'Toyota Etios G', 'Tata Tigor Revotron', 'Mahindra Jeep MM', 'Maruti Suzuki 800', 'Hyundai Verna VGT', 'Nissan Sunny XL', 'Ford Figo', 'Hyundai Xcent SX', 'Audi Q7', 'Hindustan Motors Ambassador', 'Honda Amaze 1.2', 'Honda City SV', 'Renault Lodgy 85', 'Volkswagen Jetta Highline', 'Tata Manza Aqua', 'Ford Ikon 1.6', 'Maruti Suzuki SX4', 'Tata Sumo Grande', 'Toyota Corolla', 'Skoda Fabia Classic', 'Tata Venture EX', 'Hyundai Verna Transform', 'Hyundai i20', 'Maruti Suzuki Ciaz', 'Skoda Fabia 1.2L', 'Skoda Rapid Elegance', 'Mahindra TUV300 T4', 'Ford EcoSport', 'Honda City 1.5', 'BMW 3 Series', 'Honda Mobilio', 'Fiat Linea Emotion', 'Hyundai Accent GLE', 'Honda Amaze 1.5', 'Maruti Suzuki Estilo', 'Honda Brio', 'Tata Indica eV2', 'Honda City ZX', 'Tata Zest XM', 'Hyundai Verna 1.6', 'Hyundai Accent GLX', 'Tata Manza', 'Tata Indigo CS', 'Chevrolet Beat Diesel', 'Ford Figo Diesel', 'Mahindra KUV100', 'Toyota Corolla Altis', 'Honda Mobilio S', 'Chevrolet Spark LS', 'Ford Fusion 1.4', 'Chevrolet Tavera Neo', 'Maruti Suzuki Alto', 'Jeep Wrangler Unlimited', 'Hyundai Creta', 'Maruti Suzuki Ertiga', 'Ford EcoSport Ambiente', 'Fiat Punto Emotion', 'Hyundai Santro', 'Renault Scala RxL', 'Datsun GO T', 'Renault Duster 110PS', 'Honda City VX', 'Chevrolet Beat LT', 'Tata Vista Quadrajet', 'Chevrolet Spark 1.0', 'Volkswagen Polo Comfortline', 'Maruti Suzuki Celerio', 'Hyundai i20 Select', 'Tata Sumo Gold', 'Maruti Suzuki Zen', 'Mahindra Bolero Power', 'Audi A8', 'Maruti Suzuki Esteem', 'Nissan Sunny', 'Mercedes Benz C', 'Honda Brio V', 'Chevrolet Enjoy 1.4', 'Honda City', 'Mahindra Scorpio SLX', 'Hyundai Santro Xing', 'Tata Manza Aura', 'Mahindra Bolero SLE', 'Nissan Micra XV', 'Mahindra Scorpio VLX', 'Volkswagen Vento Highline', 'Mahindra KUV100 K8', 'Hyundai Eon', 'Mahindra Jeep CL550', 'BMW 7 Series', 'Volkswagen Vento Konekt', 'Renault Duster 85', 'Toyota Fortuner', 'Maruti Suzuki A', 'Tata Nano Lx', 'Ford Ikon 1.3', 'Mitsubishi Pajero Sport', 'Hyundai i10', 'Volkswagen Polo Highline', 'Volkswagen Polo', 'Toyota Innova 2.0', 'Ford Fiesta SXi', 'Mini Cooper S', 'Mahindra XUV500 W8', 'Mahindra Scorpio SLE', 'Mahindra Scorpio S10', 'Ford Figo Duratorq', 'Mahindra XUV500 W10', 'Toyota Fortuner 3.0', 'Maruti Suzuki Versa', 'Mahindra Logan', 'Mercedes Benz A', 'Tata Bolt XM', 'Toyota Etios GD', 'Tata Nano', 'Maruti Suzuki Stingray', 'Maruti Suzuki S', 'Skoda Fabia', 'Skoda Octavia Classic', 'Audi Q5 2.0', 'Hyundai i10 Era', 'BMW X1', 'Honda Jazz S', 'Honda WR V', 'Skoda Superb 1.8', 'Maruti Suzuki Swift', 'Force Motors One', 'Honda Accord', 'Hyundai i20 Sportz', 'Mahindra XUV500', 'Ford Figo Petrol', 'Toyota Etios Liva', 'Tata Nano Cx', 'Hyundai i20 Active', 'Honda Amaze', 'Mercedes Benz B', 'Honda Jazz VX', 'Hyundai Verna 1.4', 'Tata Indica', 'Chevrolet Cruze LTZ', 'Audi A4 1.8', 'Jaguar XF 2.2', 'Mahindra Scorpio Vlx', 'Mahindra Scorpio LX', 'Mahindra Xylo D2', 'Tata Tiago Revotron', 'Tata Indigo LX', 'Maruti Suzuki Ritz', 'Hyundai i10 Sportz', 'Hyundai Eon Sportz', 'Datsun Redi GO', 'Mahindra Bolero DI', 'Hyundai Creta 1.6', 'Mahindra TUV300 T8', 'Mahindra Quanto C4', 'Tata Sumo Victa', 'Chevrolet Sail UVA', 'Hyundai Eon Era', 'Tata Aria Pleasure', 'Mahindra Logan Diesel', 'Volkswagen Polo Trendline', 'Volkswagen Vento Comfortline', 'Mahindra Scorpio', 'Chevrolet Spark', 'Mahindra Xylo E8', 'Volkswagen Jetta Comfortline', 'Mahindra Thar CRDe', 'Hyundai Grand i10', 'Maruti Suzuki Wagon', 'Maruti Suzuki Maruti', 'Hyundai i20 Asta', 'Toyota Innova 2.5', 'Chevrolet Sail 1.2', 'Ford EcoSport Trend', 'Maruti Suzuki Vitara', 'Maruti Suzuki Omni', 'Chevrolet Beat PS', 'Skoda Laura', 'Fiat Petra ELX', 'Renault Duster 85PS', 'Volvo S80 Summum', 'Jaguar XE XE', 'Chevrolet Enjoy', 'Tata Zest XE', 'Chevrolet Spark LT', 'Hyundai Verna Fluidic', 'Hyundai Elite i20', 'Maruti Suzuki Dzire', 'Mahindra Scorpio W', 'Mahindra Scorpio S4', 'Toyota Etios', 'Force Motors Force', 'Mahindra XUV500 W6', 'BMW X1 xDrive20d', 'Datsun Go Plus', 'Hyundai Accent Executive', 'Hyundai Elantra SX', 'Hyundai Verna', 'BMW 5 Series', 'Tata Indica V2', 'Mahindra Scorpio 2.6', 'Tata Nano LX', 'Renault Duster 110', 'Ford EcoSport Titanium', 'Chevrolet Beat LS', 'Hyundai Sonata Transform', 'Volkswagen Passat Diesel', 'Renault Kwid', 'Hyundai Getz', 'Honda Brio VX', 'Renault Duster', 'Audi Q3 2.0', 'Volkswagen Polo Highline1.2L', 'Hyundai i10 Magna', 'Nissan X Trail', 'Tata Nano GenX', 'Mercedes Benz GLA', 'Hyundai i20 Magna', 'Toyota Corolla H2', 'Chevrolet Tavera LS', 'Hyundai Eon D']
['Toyota Etios G', 'Toyota Qualis', 'Toyota Etios GD', 'Toyota Etios Liva', 'Toyota Innova 2.5', 'Toyota Innova 2.0', 'Toyota Etios', 'Toyota Fortuner', 'Toyota Corolla H2', 'Toyota Fortuner 3.0', 'Toyota Corolla Altis', 'Toyota Corolla']
['LPG', 'Petrol', 'Diesel']

In [3442]:
for model in get_models():
    print(get_fuel_types_for_model(model=model))

['Diesel']
['Petrol']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Petrol']
['Petrol']
['LPG', 'Petrol']
['Diesel']
['Diesel']
['Diesel']
['Petrol']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Diesel']
['Diesel']
['Diesel']
['Petrol']
['Diesel']
['Petrol', 'Diesel']
['Diesel']
['Diesel']
['Diesel']
['Petrol']
['Petrol']
['Petrol']
['Petrol']
['Petrol']
['Petrol']
['Diesel']
['Petrol']
['Petrol']
['Diesel']
['Diesel']
['Petrol']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Diesel']
['Petrol', 'Diesel']
['Petrol']
['Petrol', 'Diesel']
['Diesel']
['Diesel']
['Diesel']
['Petrol']
['Petrol', 'Diesel']
['Diesel']
['Petrol']
['Petrol']
['Diesel']
['Petrol']
['Petrol']
['Petrol']
['Diesel']
['Diesel']
['Diesel']
['Petrol']
['Petrol']
['Petrol', 'Diesel']
['Petrol']
['Petrol']
['Petrol']
['Diesel']
['Petrol']
['Petrol']
['Diesel']
['Petrol', 'Diesel']
['Diesel']
['Petrol', 'Diesel']
['Petrol']
['Diesel']
['Diesel']
['Diesel']
['Diesel']
['Petrol', 'Diesel']
['Petrol', 'Diesel']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Petrol', 'Diesel']
['Diesel']
['Diesel']
['Petrol']
['Diesel']
['Petrol']
['Diesel']
['Petrol', 'Diesel']
['Petrol', 'Diesel']
['Diesel']
['Petrol']
['Petrol']
['Petrol']
['Petrol']
['Petrol', 'Diesel']
['Petrol']
['Diesel']
['Petrol']
['Petrol']
['Petrol']
['Petrol', 'Diesel']
['Petrol']
['Diesel']
['Petrol', 'Diesel']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Petrol', 'Diesel']
['Petrol']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Diesel']
['Petrol']
['Petrol']
['Petrol']
['Petrol', 'Diesel']
['Petrol']
['Petrol']
['Petrol', 'Diesel']
['Diesel']
['Petrol']
['Petrol']
['Diesel']
['Diesel']
['Diesel']
['Diesel']
['Diesel']
['Diesel']
['Petrol']
['Diesel']
['Petrol']
['Petrol']
['Petrol', 'Diesel']
['Petrol']
['Petrol']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Petrol']
['Diesel']
['Petrol']
['Petrol']
['Petrol']
['Petrol', 'Diesel']
['Diesel']
['Petrol']
['Petrol', 'Diesel']
['Diesel']
['Petrol']
['Petrol', 'Diesel']
['Petrol']
['Petrol', 'Diesel']
['Petrol', 'Diesel']
['Petrol']
['Petrol']
['Petrol']
['Petrol']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Diesel']
['Diesel']
['Petrol']
['Diesel']
['Petrol', 'Diesel']
['Petrol']
['Petrol']
['Petrol']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Diesel']
['Petrol']
['Petrol']
['Diesel']
['Petrol']
['Diesel']
['Petrol', 'Diesel']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Diesel']
['Petrol', 'Diesel']
['Petrol', 'Diesel']
['Petrol']
['Petrol', 'Diesel']
['Diesel']
['Petrol']
['Petrol', 'Diesel']
['Diesel']
['LPG', 'Petrol']
['Diesel']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Petrol']
['Diesel']
['Petrol', 'Diesel']
['Petrol', 'Diesel']
['Diesel']
['Diesel']
['Diesel']
['Diesel']
['Diesel']
['Diesel']
['Petrol']
['Petrol']
['Petrol']
['Diesel']
['Petrol', 'Diesel']
['Petrol', 'Diesel']
['Diesel']
['Petrol']
['Diesel']
['Diesel']
['Petrol', 'Diesel']
['Diesel']
['Diesel']
['Petrol']
['Petrol']
['Petrol']
['Diesel']
['Diesel']
['Petrol']
['Petrol']
['Diesel']
['Petrol']
['Diesel']
['Petrol']
['Petrol']
['Diesel']
['Petrol']

In [3443]:
# these are provided here for the reference
def get_years_range():
    years = cars['year']
    return min(years), max(years)


def get_kms_driven_range():
    kms_driven = cars['kms_driven']
    return min(kms_driven), max(kms_driven)

In [3444]:
print(get_years_range())
print(get_kms_driven_range())

(1995, 2019)
(0, 400000)

In [3445]:
def predict_price(company: str, model: str, year_of_purchase: int, fuel_type: str, kms_driven: int):
    return pipe.predict(pd.DataFrame([[company, model, year_of_purchase, fuel_type, kms_driven]], columns=['company', 'name', 'year', 'fuel_type','kms_driven']))[0]

In [3446]:
company = get_companies()[0]
model = get_models_for_company(company=company)[0]
year_of_purchase = 2019
fuel_type = get_fuel_types_for_model(model=model)[0]
kms_driven = 200000
print(company)
print(model)
print(year_of_purchase)
print(fuel_type)
print(kms_driven)
print(predict_price(
    company=company,
    model=model,
    year_of_purchase=year_of_purchase,
    fuel_type=fuel_type,
    kms_driven=kms_driven,
))

Jaguar
Jaguar XF 2.2
2019
Diesel
200000
1844307.5832561105